In [1]:
import pandas as pd

In [2]:
#read the JSON file
data = pd.read_json("data.json")

In [3]:
#validate email using regex
data["email_validation"]=data['emailAddress'].str.contains(r'[^@]+@[^@]+\.[^@]+')

In [4]:
#validate phone using regex
data["phone_validation"]=data['phoneNumber'].str.contains(r'^[2-9]\d{2}(-|\s)\d{3}(-|\s)\d{4}$')

c:\users\mishk\appdata\local\programs\python\python36\lib\site-packages\pandas\core\strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [5]:
#to count the validation errors
data["validation_error"] = (data['email_validation']==False) | (data['phone_validation']==False)

In [6]:
#sort data by alphabetical order
data = data.sort_values(["fullName"])

In [7]:
output = pd.DataFrame(data.groupby(["cityName","validation_error"]).size())

In [8]:
output.columns=["count"]

In [9]:
#required results
output

                                count
cityName      validation_error
Chicago       False                 2
              True                  2
Evansville    False                 2
              True                  2
Kansas City   False                 1
              True                  2
New York      False                 2
              True                  1
San Franscico False                 2
              True                  1
Seattle       False                 3

In [10]:
#required outputs
for row in data.itertuples():
    print (row.fullName)
    
    if row.email_validation and row.phone_validation:
        print("Valid")
        print()
        continue
                                               
    if not row.email_validation and not row.phone_validation:
        print("Email and phone are invalid")
        print()
        continue
        
    if not row.email_validation:
        print ("Email is invalid")
        print()
    if not row.phone_validation:
        print("Phone is invalid")
        print()

Abigail Rodriguez
Phone is invalid

Amelia Davis
Valid

Benjamin Hermandez
Valid

Charlotte Miller
Valid

Elijah Martin
Email and phone are invalid

Emma Smith
Phone is invalid

Evelyn Garcia
Valid

Isabella Williams
Valid

Jacob Thompson
Valid

James Taylor
Email is invalid

James White
Valid

Liam Martinez
Email is invalid

Logan Thomas
Email and phone are invalid

Mary Wilson
Email and phone are invalid

Mason Moore
Valid

Oliver Jackson
Phone is invalid

Olivia Johnson
Valid

Sophia Brown
Valid

Taylor Jones
Valid

William Anderson
Valid