In [1]:
import pandas as pd

In [2]:
#read the JSON file
data = pd.read_json("data.json")

In [3]:
#validate email using regex
data["email_validation"]=data['emailAddress'].str.contains(r'[^@]+@[^@]+\.[^@]+')

In [4]:
#validate phone using regex
data["phone_validation"]=data['phoneNumber'].str.contains(r'^[2-9]\d{2}(-|\s)\d{3}(-|\s)\d{4}$')

c:\users\mishk\appdata\local\programs\python\python36\lib\site-packages\pandas\core\strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [5]:
#to count the validation errors
data["validation_error"] = (data['email_validation']==False) | (data['phone_validation']==False)

In [6]:
#sort data by alphabetical order
data.sort_values(["fullName"])

,fullName,cityName,phoneNumber,emailAddress,email_validation,phone_validation,validation_error
16,Abigail Rodriguez,New York,555-5555-555,abigail.rodriguez@example.com,True,False,True
12,Amelia Davis,Evansville,555-555-5555,amelia.davis@example.com,True,True,False
11,Benjamin Hermandez,San Franscico,555-555-5555,benjamin.hermandez@example.com,True,True,False
10,Charlotte Miller,New York,555-555-5555,charlotte.miller@example.com,True,True,False
15,Elijah Martin,Kansas City,5555555555,didn't provide one,False,False,True
0,Emma Smith,Evansville,+1 (555) 555-5555,emma.smith@example.com,True,False,True
14,Evelyn Garcia,Seattle,555-555-5555,evelyn.garcia@example.com,True,True,False
4,Isabella Williams,New York,555-555 5555,isabella.williams@example.com,True,True,False
19,Jacob Thompson,Chicago,555-555-5555,jacob.thompson@example.com,True,True,False
7,James Taylor,Chicago,555-555-5555,james.taylor@examplecom,False,True,True
3,James White,Kansas City,555-555-5555,james.white@example.com,True,True,False
1,Liam Martinez,Chicago,555 555-5555,liam.martinez@@example.com,False,True,True
9,Logan Thomas,Kansas City,(555) 555-5555 ext. 1234,logan.thomas@examplecom,False,False,True
18,Mary Wilson,Evansville,none,mary.wilson@example,False,False,True
13,Mason Moore,Chicago,555-555-5555,mason.moore@example.com,True,True,False
17,Oliver Jackson,San Franscico,555-5555-5555,oliver.jackson@example.com,True,False,True
2,Olivia Johnson,Seattle,555-555-5555,olivia.johnson@example.com,True,True,False
6,Sophia Brown,Evansville,555-555-5555,sophia.brown@example.com,True,True,False
8,Taylor Jones,Seattle,555-555-5555,taylor.jones@example.com,True,True,False
5,William Anderson,San Franscico,555-555-5555,william.anderson@example.com,True,True,False

In [7]:
output = pd.DataFrame(data.groupby(["cityName","validation_error"]).size())

In [8]:
output.columns=["count"]

In [9]:
#required results
output

                                count
cityName      validation_error
Chicago       False                 2
              True                  2
Evansville    False                 2
              True                  2
Kansas City   False                 1
              True                  2
New York      False                 2
              True                  1
San Franscico False                 2
              True                  1
Seattle       False                 3

In [10]:
#required outputs
for row in data.itertuples():
    print (row.fullName)
    
    if row.email_validation and row.phone_validation:
        print("Valid")
        print()
        continue
                                               
    if not row.email_validation and not row.phone_validation:
        print("Email and phone are invalid")
        print()
        continue
        
    if not row.email_validation:
        print ("Email is invalid")
        print()
    if not row.phone_validation:
        print("Phone is invalid")
        print()

Emma Smith
Phone is invalid

Liam Martinez
Email is invalid

Olivia Johnson
Valid

James White
Valid

Isabella Williams
Valid

William Anderson
Valid

Sophia Brown
Valid

James Taylor
Email is invalid

Taylor Jones
Valid

Logan Thomas
Email and phone are invalid

Charlotte Miller
Valid

Benjamin Hermandez
Valid

Amelia Davis
Valid

Mason Moore
Valid

Evelyn Garcia
Valid

Elijah Martin
Email and phone are invalid

Abigail Rodriguez
Phone is invalid

Oliver Jackson
Phone is invalid

Mary Wilson
Email and phone are invalid

Jacob Thompson
Valid